*{
    --bc-lightgreenishblue : #E6FFFB ;
    --bc-white : #ffffff ;
    --acellbi-theme : #79CAD0;
    --light-acellbi-theme : #F5FDFF;
    --submit-button : #00007F;
    --text-color : #444444 ;
    --input-total-color : #DEFAFF;
    --calender-color : #777777 ;
}

#addTask-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--acellbi-theme);
    border-radius: 22px;
    z-index: 1;
    >form{
        height: 300px;
        width: 300px;
        background-color: var(--bc-white);
        border-radius:0 0 20px 20px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        >button{
            width: 80px;
            height: 30px;
            background-color: var(--acellbi-theme);
            border: var(--acellbi-theme);
            border-radius: 5px;
            color: var(--bc-white);
            font-weight: 700;
        }
        >div{
            width: 240px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            >label{
                font-size: large;
                font-weight: 600;
            }
            >input{
                height: 25px;
                width: 170px;
                background-color: var(--light-acellbi-theme);
                border: 1.5px solid var(--acellbi-theme);
            }
        }
        >div:nth-child(3){
            width: 240px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            >label{
                font-size: large;
                font-weight: 600;
            }
            >textarea{
                height: 100px;
                width: 170px;
                background-color: var(--light-acellbi-theme);
                border: 1.5px solid var(--acellbi-theme);
                resize: none;
            }
        }
    }
}
.title{
    height: 60px;
    width: 300px;
    background-color: var(--acellbi-theme);
    border-radius: 20px 20px 0 0;
    letter-spacing: 0.5rem;
    font-size: 22px;
    color: var(--bc-white);
}
#addTask-close{
    position: absolute ;
    top: 10px;
    right: 10px;
}